<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Webyneter.ComponentsAnalysis.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Webyneter.ComponentsAnalysis.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    
        <dependentAssembly>
    
            <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-5.1.6.417" newVersion="5.1.5" />
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="Accord.MachineLearning" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-2.15.0.0" newVersion="2.15.0.0" />
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="Accord.Math" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-2.15.0.0" newVersion="2.15.0.0" />
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="Accord" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-2.15.0.0" newVersion="2.15.0.0" />
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="Accord.Statistics" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-2.15.0.0" newVersion="2.15.0.0" />
    
        </dependentAssembly>
    
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Webyneter.ComponentsAnalysis.App.Properties.Settings>
      <setting name="ProjectFilesDir" serializeAs="String">
        <value />
      </setting>
      <setting name="RecentProjectsMemorised" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="InputFilesDir" serializeAs="String">
        <value />
      </setting>
      <setting name="OutputFilesDir" serializeAs="String">
        <value />
      </setting>
      <setting name="AppCurrentCulture" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="PCAMethod" serializeAs="String">
        <value>Center</value>
      </setting>
      <setting name="KPCACenterInFeatureSpace" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KPCAMethod" serializeAs="String">
        <value>Center</value>
      </setting>
    </Webyneter.ComponentsAnalysis.App.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Webyneter.ComponentsAnalysis.App.Properties.Settings>
      <setting name="RecentProjectsMemorisedDefault" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="AppWindowMinimumSizeDefault" serializeAs="String">
        <value>640, 480</value>
      </setting>
      <setting name="ProjectFilesDirNameDefault" serializeAs="String">
        <value>Projects</value>
      </setting>
      <setting name="InputFilesDirNameDefault" serializeAs="String">
        <value>Input</value>
      </setting>
      <setting name="OutputFilesDirNameDefault" serializeAs="String">
        <value>Output</value>
      </setting>
      <setting name="RecentProjectsRegistryKey" serializeAs="String">
        <value>SOFTWARE\\ComponentsAnalysis\\JoeWoodburyUtilities</value>
      </setting>
      <setting name="RecentProjectsDirName" serializeAs="String">
        <value>RecentProjects</value>
      </setting>
    </Webyneter.ComponentsAnalysis.App.Properties.Settings>
  </applicationSettings>
</configuration>